# Ignore virtual environment
venv/

# Ignore generated outputs
outputs/

# Ignore processed data folder
data/processed/

# Ignore dataset folder
dataset/

# Keep src/ (tracked code)
!src/

# Optionally ignore large or temporary files
*.pyc
__pycache__/
.DS_Store
